<body ng-controller="HomeController as home">
<div id='container' class='container navbar navbar-default'>
	<div class='row bg-info text-primary'>
		<div class='col-md-2'>
			<a class='nav navbar-brand'><b>ForumApp</b></a>
		</div>
		<ul class='list-unstyled list-inline nav navbar-nav navbar-right'>
			<li><a class='nav navbar-nav navbar-brand' href='#/login'>Logout</a></li>
		</ul>
	</div>
	
	<div class='row well well-lg'>
		<div class='row right'>
			<a name='createTopic' id='createTopic' href="#/createTopic" class='btn btn-primary btn-md pull-right'>Create Topic</a>
		</div>
		</br>
		<div id="topicList" ng-repeat="topic in topics">

			<!-- var topicI="topic-"+i; -->
			<div id='{{topic.id}}' class='row well well-lg marginTopics'>
				<label class='row well strong lead col-md-12 large bg-faded text-primary marginContents' id='title-topic-{{topic.id}}'>{{topic.title}}</label>
				</br><label class='row well col-md-12 medium marginContents' id='description'><label class='small text-info'>Description:</label></br> {{topic.description}}</label>
				</br><label class='small text-warning' id='upvoteLblVar'>{{topic.upVoteCount}} UpVotes</label>
				&nbsp&nbsp&nbsp&nbsp&nbsp<label class='small text-warning' id='downvoteLblVar'>{{topic.downVoteCount}} DownVotes
				</label>
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<label class='small' id='createdBy'><label class='text-muted'>Created By: 
				</label> {{topic.createdBy}}</label>
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<label class='small' id='createdAt'><label class='text-muted'>Created At: 
				</label> {{topic.createdAt | toDateObj | date: 'HH:mm:ss d,MMM,yyyy'}} </label>
				</br>&nbsp&nbsp<button class='btn btn-xs' id='upvoteBtnVar' name='upvoteBtnVar' ng-click='syncVotesFunc4Up()'>
				<img class='upvote-img' id='upvote'></img></button>
				&nbsp&nbsp<button class='btn btn-xs' id='downvoteBtnVar' name='downvoteBtnVar' ng-click='syncVotesFunc4Down()'>
				<img class='downvote-img' id='downvote'></img></button>

				<div id='commentListVar' class='marginRow' ng-repeat="comment in topic.commentList">
					<div class='row well marginRow'>
						<label class='col-md-offset-0 col-md-1 small' id='commentCreatedBy'>{{comment.createdBy}}</label>
						&nbsp&nbsp&nbsp&nbsp<input class='small col-md-7 bg-success' readonly='true' id='commentValue' 
						value='{{comment.value}}'></input>
						<label class='small' id='commentCreatedAt'>{{comment.createdAt | toDateObj | date: 'HH:mm:ss d,MMM,yyyy' }}</label>
					</div>
				</div>

			</div>

		</div>
		<!-- <div id="userIdDiv">
			<input type='hidden' id='userName' name='userName' value='swapnil'></input>
			<input type='hidden' id='userId' name='userId' value='6'></input>
			<input type='hidden' id='emailId' name='emailId' value='swapnil.solanki@townscript.com'></input>
		</div> -->
	</div>
	
</div>
</body>
