
<div id='container' class='container navbar navbar-default navbar-rigth'>
    <div class='row'>
        <a ng-href='#/home' class='navbar-brand'>ForumApp</a>
    </div>
    <div id='usersignup'>
        
        <form name="form" ng-submit='vm.register()'>
            <div class='row well well-lg'>
                <div class='row' id="usersignup_header">
                    <h3><span>User SignUp</span></h3>
                </div>
                <div class='row'>
                    <div class='col-md-2'>
                        <label> Email Id </label> 
                    </div>
                    <div class='col-md-6'>
                        <input type='text' id="email" name='email' ng-model='vm.user.email' required/>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-2'>
                        <label> Mobile Number </label> 
                    </div>
                    <div class='col-md-6'>
                        <input type="text" id="mobile" name='mobile' ng-model='vm.user.mobile' required/>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-2'>
                        <label> User Name </label> 
                    </div>
                    <div class='col-md-6'>
                        <input type="text" id="username" name='username' ng-model='vm.user.username' required/>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-2'>
                        <label> Password </label> 
                    </div>
                    <div class='col-md-6'>
                        <input type='password' id="password" name='password' autocomplete="off" ng-model='vm.user.password' required/>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-2'>
                        <label> Retype Password </label> 
                    </div>
                    <div class='col-md-6'>
                        <input type='password' id="password2" name='password2' autocomplete="off" ng-model='vm.user.password2' required ng-blur="vm.validatePwd()"/>
                    </div>
                </div>
                <div class='row'>
                    <p></p>
                </div>
                <div class='row'>
                    <div class='col-md-2'>
                        <button type='submit' class='btn btn-success'>SignUp</button>
                    </div>
                    <div class='col-md-2'>
                        <a href="#/login" class="btn btn-link">Cancel</a>
                    </div>
                </div>
                
            </div>
        </form>
    </div>
    
</div>


