<div id='container' class='container navbar navbar-default'>

    <div class='row bg-info text-primary'>
        <div class='col-md-2'>
            <a class='nav navbar-brand'><b>ForumApp</b></a>
        </div>
        <ul class='list-unstyled list-inline nav navbar-nav navbar-right'>
            <li><a class='nav navbar-nav navbar-brand' href='#/login'>Logout</a></li>
        </ul>
    </div>
    
    <div id="createTopic">
        <form name="form" ng-submit="mv.createTopic()">
            <div class='row well well-lg'>
                <div class='row'>
                    <div class='col-md-1'>
                        <label> Title </label> 
                    </div>
                    <div class='col-md-5'>
                        <input type='text' id='title' name='title' ng-model="mv.topic.title" required/>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-1'>
                        <label> Description </label> 
                    </div>
                    <div class='col-md-5'>
                        <input type='text' id='description' name='description' ng-model="mv.topic.description" required/>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-1'>
                        <label> Tags </label> 
                    </div>
                    <div class='col-md-5'>
                        <input type='text' id='tags' name='tags' ng-model="mv.topic.tags" placeholder='e.g. sports,music, etc'/>
                    </div>
                </div>
                <div class='row'>
                    <p></p>
                </div>
                <div class='row'>
                    <div class='col-md-1'>
                        <button type='submit' class='btn btn-success'>Create</button>
                    </div>
                    <div class='col-md-1'>
                        <a href="#/home" class="btn btn-link">Cancel</a>
                    </div>
                </div>
                
            </div>
        </form>
    </div>
</div>
