<div id='container' class='container navbar navbar-default navbar-rigth'>
    <div id='userlogin'>
        <form name="form" ng-submit="vm.login()">
            <div class='row well well-lg'>
                <div class='row well-md' id="userlogin_header">
                    <h3><span>User Login</span></h3>
                </div>
                <div class='row well-md'>
                    <div class='col-md-2'>
                        <label> User Name </label> 
                    </div>
                    <div class='col-md-6'>
                        <input type="text" id="username" name="username" autocomplete="off" ng-model="vm.username" required/>
                    </div>
                </div>
                <div class='row well-md'>
                    <div class='col-md-2'>
                        <label> Password </label> 
                    </div>
                    <div class='col-md-6'>
                        <input type="password" id="password" name="password" autocomplete="off" ng-model="vm.password" required/>
                    </div>
                </div>
                <div class='row well-md'>
                    <p></p>
                </div>
                <div class='row'>
                    <div class='col-md-1'>
                        <button type='submit' class='btn btn-success'>Login</button>
                    </div>
                    <div class='col-md-1'>
                        <input type='button' value="Cancel" name='cancel' class='btn btn-danger'/>
                    </div>
                </div>
            </div>
        </form>
        <div class='row well-xs'>
            <p></p>
        </div>
        <div class='userlogin_links '>Not Registered Yet? 
            <a ng-href="#/register" id="register"><strong><span>Register >>></span></strong></a>
        </div>
    </div>
</div>

